<!DOCTYPE html>
<html>
<head>
  <title>apiDoxy - remove background</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <style>
        /* Helper classes */
    .basil {
        background-color: #FFFBE6 !important;
    }
    .basil--text {
        color: #356859 !important;
    }
  </style>
</head>
<body>
  <div id="app">
    <v-app>
      <v-main>
        <v-sheet class="ma-4 rounded" outlined>
            <v-card color="basil">
                <v-card-title class="text-center justify-center py-6">
                  <h1 class="font-weight-bold text-h2 basil--text">
                    Remove Background
                  </h1>
                </v-card-title>
            
                <v-tabs v-model="tab" background-color="transparent" color="basil">
                  <v-tab>
                    Original Image
                  </v-tab>
                  <v-tab>
                    Removed Background
                  </v-tab>
                </v-tabs>
            
                <v-tabs-items v-model="tab">
                  <v-tab-item>
                    <v-sheet class="d-flex flex-row">
                        <v-img max-height="350" max-width="350" class="rounded ma-4" :src="currentimage" v-show="currentimage != ''"></v-img>
                        <v-sheet class="d-flex flex-column pa-4 justify-center">
                          <input type="file" id="file" style="display: none;" @change="change"/>
                          <v-btn color="amber" class="mx-1 rounded-pill">
                            <label for="file">
                              <v-icon left v-text="'mdi-upload'"></v-icon>
                              <span class="text-capitalize" v-text="'Upload from device'"></span>
                            </label>
                          </v-btn>
                          <v-btn @click="upload" class="rounded-pill ma-1" color="primary" :loading="isloading==true" :disabled="isloading==true">Remove Background</v-btn>
                        </v-sheet>
                    </v-sheet>
                  </v-tab-item>
                  <v-tab-item>
                    <div style="background-image: url('https://i.ibb.co/sWpnd51/vector-transparent-checkerboard-transparent-pattern-background-546559-432.jpg');">
                      <v-img class="rounded ma-4" max-height="350" max-width="350" :src="removedimage"></v-img>
                    </div>
                      <v-sheet class="d-flex flex-column pa-4 justify-center">
                        <v-btn @click="download" class="rounded-pill ma-1" color="primary" :disabled="isloading==true" width="200">Download HD</v-btn>
                      </v-sheet>
                  </v-tab-item>
                </v-tabs-items>
              </v-card>
        </v-sheet>
      </v-main>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.4.0/dist/axios.min.js"></script>
  <script>
    vue = new Vue({
      el: '#app',
      vuetify: new Vuetify(),
      data: {
        tab: null,
        currentimage: '',
        removedimage: '',
        isloading: false,
      },
      methods: {
        dataURItoBlob(dataurl) {
          var arr = dataurl.split(','),
            mime = arr[0].match(/:(.*?);/)[1],
            bstr = atob(arr[1]), 
            n = bstr.length, 
            u8arr = new Uint8Array(n);
            while(n--){
                u8arr[n] = bstr.charCodeAt(n);
            }
            
            return new File([u8arr], 'image.jpg', {type:mime});
        },
        change(e) {
          const file = e.target.files[0]
            if (typeof FileReader === 'function') {
              const reader = new FileReader()
              reader.onload = (event) => {
                this.currentimage = event.target.result
              }
            reader.readAsDataURL(file)
          }
        },
        upload() {
            this.isloading = true;
            var formData = new FormData();
            var imagefile = document.querySelector('#file');
            formData.append("image", imagefile.files[0]);
            formData.append("key", "63ade78000b432d3027d259c0c2678d4")
            axios.post('https://api.imgbb.com/1/upload', formData , {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
            }).then((res) => {
                vue.remove(res.data.data.display_url)
            }).catch((err) => {
              vue.isloading = false
            })
        },
        remove(url) {
          axios.get('/api/removebg?url='+url)
          .then((res)=>{
            if(res.data == 'error') {
              alert('Someting wrong')
            } else {
              vue.removedimage = res.data
              vue.tab = 1;
            }
            vue.isloading = false;
          }).catch((err) => {
            vue.isloading = false;
          })
        },
        download() {
          const a = document.createElement('a')
          a.href = this.removedimage
          a.download = this.removedimage.split('/').pop()
          document.body.appendChild(a)
          a.click()
          document.body.removeChild(a)
        }
      }
    })
  </script>
</body>
</html>